{{ block title }}
About this study
{{ endblock }}

{{ block content }}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    Please read and follow all instructions carefully; they contain everything you need to know.
</p>

<p>
    It is important that you understand the consequences of the responses you provide during the study. We will, therefore, ask some questions to check your understanding. You must answer these questions correctly before continuing. 
</p>

<p>
    There will also be periodic "attention checks." You will know what we mean when you see them.
</p>

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
{% endblock %}