{{ block title }}
Feedback
{{ endblock }}

{{ block content }}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    Thank you for completing the study! Before you go, we would like to ask for your feedback.
</p>

{{ formfield 'feedback_difficulty' }}
{{ formfield 'feedback_understanding' }}
{{ formfield 'feedback_satisfied' }}
{{ formfield 'feedback_pay' }}

<p>
    We would be grateful for any comments on the study. Did you feel comfortable with the instructions? Were you confused? If you can tell us which aspects are confusing and what we can do better, we would be very grateful! Thank you so much for your attention and participation.
</p>

{{ formfield 'feedback' }}

<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
{% endblock %}