{{ block title }}
DECISION 3: Difference to DECISION 2
{{ endblock }}

{{ block content }}

{{ if session.config.development }}
    <button class="btn btn-danger otree-btn-next" style="float: right;">Skip</button>
{{ endif }}

<p>
    Here is the difference between DECISION 3 and DECISION 2!
</p>

<p>
    IMPORTANTLY: If DECISION 3 is implemented, we WILL NOT TELL YOU whether the coin came up "HIGH" or "LOW." Thus, you WILL NOT LEARN the OTHER PARTICIPANT's payoff.
</p>

<p>
    This is important, so let us repeat it: 
</p>

<p class="text-center">
    If DECISION 3 is implemented, you WILL NOT LEARN the OTHER PARTICIPANT’s payoff. 
</p>

<p>
    The OTHER PARTICIPANT does not know about this difference. From their perspective, DECISIONS 2 and 3 are exactly the same.
</p>
<p>
    We will next ask you some questions to make sure you understand the instructions. You must answer these questions correctly before continuing. 
</p>
<button style="float: right" class="btn btn-primary btn-large">Next</button>

{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
{% endblock %}